<div id="playArea">


<h1>Play</h1>
<h2>Choose the correct answer!</h2>

<div id="description">
    <h1 id="descriptionText">{{randomQuestion.description}}</h1>
    

</div>
<div id="answers">
    
<div id="answer1">

<button class="btn btn-outline-success">{{answersRandomized.[0]}}</button>
</div>
<div id="answer2">
<button class="btn btn-outline-success">{{answersRandomized.[1]}}</button>
</div>
<div id="answer3">
<button class="btn btn-outline-success">{{answersRandomized.[2]}}</button>
</div>
<div id="answer4">
<button class="btn btn-outline-success">{{answersRandomized.[3]}}</button>
</div>

</div>
</div>