<h1>View questions</h1>

<hr>

{{#each questions}}


<div class="question-description">
    <h3>{{description}}</h3>
  </div>
  <div>
    <button type="button" id="correct">{{correct}}</button>
  </div>
   <div>
    <button type="button" id="correct">{{false1}}</button>
  </div>
   <div>
    <button type="button" id="correct">{{false2}}</button>
  </div>
   <div>
    <button type="button" id="correct">{{false3}}</button>
  </div>
<hr>
<a href="/update/{{_id}}">Update Question</a>

<form action="/update/{{_id}}/delete" method="POST">
      <button>Delete Question</button>
    </form>

<hr>
  {{/each}}