<h1>View questions</h1>

<hr>

{{#each questions}}


<div class="question-description">
    <h3>{{description}}</h3>
  </div>
  <div>
    <button type="button" id="correct">{{correct}}</button>
  </div>
   <div>
    <button type="button" id="false1">{{false1}}</button>
  </div>
   <div>
    <button type="button" id="false2">{{false2}}</button>
  </div>
   <div>
    <button type="button" id="false3">{{false3}}</button>
  </div>
<hr>

<a href="/update/{{_id}}"><button>Update Question</button></a>

<form action="/update/{{_id}}/delete" method="POST">
      <button>Delete Question</button>
    </form>

<hr>
  {{/each}}